<section class="login">
  <div class="block">
    <div class="header">
      <img src="./assets/images/logo-completa.png" />
      <div class="texts">
        <h2>LOGIN</h2>
        <p>Bem vindo de volta!</p>
        <p>Por favor entre com suas credenciais</p>
      </div>
    </div>
    <div class="content">
      <form>
        <div class="item">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="Insira seu email" [(ngModel)]="email" />
        </div>
        <div class="item">
          <label for="password">Senha</label>
          <input type="password" id="password" name="password" placeholder="Insira sua senha" [(ngModel)]="password" />
        </div>

        <button (click)="login()">ENTRAR</button>
      </form>
    </div>
    <div class="footer"></div>
  </div>
</section>
