<nav>
  <div class="text">
    Administração de Usuários
  </div>
  <i class="pi pi-sign-out" (click)="logout()"></i>
</nav>

<section class="content">
  <button type="button" class="redirect-btn" (click)="goToCrmv()">Ir consultar CRMV</button>
  @if (copySuccess){
    <div class="copy-success-message">
      Copiado com sucesso!
    </div>
  }
  @for (user of Users; track user){
    <div class="users">
      <div class="user">
        <div class="user-info">
          <div class="user-name">{{user.name}}</div>
          <div class="user-email">Email: {{user.email}}</div>
          <div class="user-phone">Telefone: {{user.phone}}</div>
          <div class="user-clinic">Clinica: {{user.clinic}}</div>
          <div class="user-crmv">
            CRMV: {{user.crmv}}
            <button type="button" class="copy-crmv-btn" (click)="copyCrmv(user.crmv)">Copiar CRMV</button>
          </div>
          <div class="actions">
            <button type="button" class="reject-btn" (click)="rejectOrApprove(user.IDU, 2)">Reprovar</button>
            <button type="button" class="approve-btn" (click)="rejectOrApprove(user.IDU, 1)">Aprovar</button>
          </div>
        </div>
      </div>
    </div>
  }
</section>
