<nav>
  <div class="text">
    Administração de Usuários
  </div>
  <i class="pi pi-sign-out"></i>
</nav>

<section class="content">
  <div class="users">
    <div class="user">
      <div class="user-info">
        <div class="user-name">João da Silva</div>
        <div class="user-email">Email: joao.gmail.com</div>
        <div class="user-phone">Telefone: (18) 99640-2541</div>
        <div class="user-crmv">CRMV: 111111</div>
        <div class="actions">
          <button class="reject-btn">Reprovar</button>
          <button class="approve-btn">Aprovar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="website"></div>
</section>
